:root{
    --color-black: #000000;
    --color-primary:#34547A;
    --color-secondary:#727272;
    --color-white: #FFFFFF;
    --color-gray-light: #EEEFF1;

    --font-size: 16px;
    --font-family: 'Roboto', sans-serif;
    --font-weight: 500;
    --font-weight-small: 400;

    --letter-spacing: 0.1em;

    --line-height: 1.64;
    --line-height-sm: 1.4;

    --container-primary: 1110px;
    --container-secondary: 540px;

    --gap: 20px;
    --gap-sm: calc(var(--gap) * 0.5);
    --gap-lg: calc(var(--gap) * 1.5);
    --gap-xl: calc(var(--gap) * 2);

}
/*reset styles*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/*base styles*/
html{
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 1;
}
body{
    margin: 0;
}
h1{
    font-size: 3rem;
    font-weight: 500;
    line-height:var(--line-height);
}
h2{
    font-size: 2rem;
    font-weight: 500;
    line-height: var(--line-height-sm);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a{
    text-decoration: none;
    color: var(--color-black);
}

/*common classes*/
.container {
    width: min(100% - var(--gap-lg), var(--container-primary));
    margin-inline: auto ;
}

.container-sm {
    width: min(100% - var(--gap-xl), var(--container-secondary));
    margin-inline: auto;
}

/* header section*/
.header {
    background-color: var(--color-gray-light);
    padding-top: 88px;
    padding-bottom: 140px;
}
/* navbar section */
.navbar {
    margin-bottom: 117px;
}
.navbar__list {
    display: flex;
    flex-wrap: wrap;
    gap: 43px;
    align-items: center;
}
.navbar__link{
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--color-black);
    letter-spacing: var(--letter-spacing);
    padding: var(--gap-sm) 3px var(--gap-sm) 0;
}
.navbar__link--active{
    font-weight: 500;
    color: var(--color-primary);
}
/* hero section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: var(--container-secondary);
}
.hero__title {
    font-size: 3rem;
    font-weight: 500;
    line-height: var(--line-height);
    margin-bottom: 34px;
}
.hero__description {
    font-size: 1rem;
    font-weight: var(--font-weight-small);
    line-height: var(--line-height);
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 57px;
    color: var(--color-secondary);
}
.hero__btn {
    min-width: 225px;
    min-height: 66px;
    background-color: var(--color-primary);
    color: var(--color-white);
    letter-spacing: var(--letter-spacing);
    padding: 0.5em;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    line-height: var(--line-height);
    font-weight: 400;
}
/* Section - common for About and Process*/
.section {
    padding-top: 96px;
    padding-bottom: 90px;
    text-align: center;
}
.section__title {
    margin-bottom: 35px;
    font-weight: 500;
    line-height: var(--line-height-sm);
}
.section__description {
    color: var(--color-secondary);
    font-size: 1rem;
    line-height: var(--line-height);
    margin-left: -6px;
}
/* about section */
.about {
    background-color: var(--color-white);
    padding: 112px 0 92px 0;
}
/*process section*/
.process {
    background-color: var(--color-gray-light);
}
/*footer section*/
.footer {
    background-color: var(--color-primary);
    color:var(--color-white);
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer__title{
    font-size: 1.3125rem;
    font-weight: 500;
    margin-bottom:19px;
}
.footer__description{
    font-size: 0.8125rem;
}
.footer-item__description{
    margin-left: 0;
}
/*experience section*/
.experience {
    background-color: var(--color-primary);
    color:var(--color-white);
    padding-top: 100px;
    padding-bottom: 100px;
}
.experience__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 44px;
}
.experience__item {
    display: flex;
    gap: var(--gap);
}
.experience-item__description {
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
}
.experience-item__number {
    font-size: 1.3125rem;
    font-weight: 500;
    /*line-height: var(--line-height-sm);*/
}
.experience-item__image {
    display: block;
    order: -1;
}
.section__video{
    width: 100%;
    height: auto;
    margin-top: 46px;
}
@media (max-width: 980px) {
    .experience-item {
        flex-basis: 28%;
        justify-content: center;
    }
}

@media (max-width: 661px) {
    .navbar__list {
        flex-direction: column;
        align-content: center;
        text-align: center;
    }
    .hero {
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }
}