:root{
    --color-black: #000000;
    --color-primary:#34547A;
    --color-secondary:#727272;
    --color-white: #FFFFFF;
    --color-gray-light: #EEEFF1;

    --font-size: 13px;
    --font-family: 'Roboto', sans-serif;

    --letter-spacing: -0.1em;

    --line-height: 1.64;
    --line-height-lg: ;
    --line-height-sm: 1.4;

    --container-primary: 1110px;
    --container-secondary: 540px;

    --gap: 23px;
    --gap-sm: calc(var(--gap) * 0.5);
    --gap-lg: calc(var(--gap) * 1.5);
    --gap-xl: calc(var(--gap) * 2);

}
/*reset styles*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/*base styles*/
html{
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 500;
    line-height: var(--line-height);
}
body{
    margin: 0;
}
h1{
    font-size: 2.95rem;
    font-weight: 500;
    line-height:var(--line-height-sm);
    margin-left: -0.08em;
}
h2{
    font-size: 26px;
    font-weight: 500;
    line-height: var(--line-height-sm);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a{
    text-decoration: none;
    color: var(--color-black);
}

/*common classes*/
.container {
    width: min(100% - var(--gap-xl), var(--container-primary));
    margin-inline: auto ;
}

.container-sm {
    width: min(100% - var(--gap-xl), var(--container-secondary));
    margin-inline: auto ;
}

/* header section*/
.header {
    background-color: var(--color-gray-light);
    padding-top: 50px;
    padding-bottom: 141px;
}
/* navbar section */
.navbar {
    margin-bottom: 114px;
}
.navbar__list {
    display: flex;
    flex-wrap: wrap;
    columns: var(--gap);
    margin-left: -1.6em;
}
.navbar__link{
    display: block;
    padding: 0.5em 1.55em;
    text-transform: uppercase;
}
.navbar__link--active{
    font-weight: 500;
    color: var(--color-primary);
}
/* hero section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: var(--container-secondary);
}
.hero__title {
    margin-top: 0;
    margin-bottom: 30px;
}
.hero__description {
    color: var(--color-secondary);
    margin-bottom: 47px;
    width: 420px;
}
.hero__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 178px;
    min-height: 50px;
    background-color: var(--color-primary);
    text-transform: uppercase;
    color: var(--color-white);
    padding: 0.5em;
    margin-left: 0.06em;
}
/* Section - common for About and Process*/
section {
    padding-top: 100px;
    padding-bottom: 72px;
    text-align: center;
    margin-left: -179px;
}
.section__title {
    color: var(--color-black);
    margin-bottom: 28px;
    margin-left: 25px;
}
.section__description {
    color: var(--color-secondary);
    margin-left: 73px;
    width: 417px;
}
/* about section */
.about {
    background-color: var(--color-white);
    padding-top: 87px;
}
/*process section*/
.process {
    background-color: var(--color-gray-light);
    padding-top: 92px;
}
/*footer section*/
.footer {
    background-color: var(--color-primary);
    color:var(--color-white);
    padding-top: 48px;
    padding-bottom: 44px;
}
.footer__title{
    font-size: 1.3125rem;
    font-weight: 500;
    margin-bottom:5px;
}
.footer__description{
    font-size: 0.8125rem;
}
/*experience section*/
.experience {
    background-color: var(--color-primary);
    color:var(--color-white);
    padding-top: 78px;
    padding-bottom: 66px;
}
.experience__container {
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 125px;
}
.experience__item {
    display: flex;
}
.experience-item__description {
    margin-left: -10px;
}
.experience-item__number {
    font-size: 1.3125rem;
    font-weight: 500;
}
.experience-item__lable {
    margin-left: 20px;
}
.experience-item__image {
    order: -1;
}
.video__container{
    margin-top: 37px;
    margin-left: 17px;
}
.section__video{
    width:887px;
    height: 480px;
}
.footer-item__description{
    margin-left: 12px;
}