:root{
    --color-black: #000000;
    --color-primary:#34547A;
    --color-secondary:#727272;
    --color-white: #FFFFFF;
    --color-gray-light: #EEEFF1;

    --font-size: 16px;
    --font-family: 'Roboto', sans-serif;

    --letter-spacing: 0.1em;

    --line-height: 1.64;
    --line-height-lg: ;
    --line-height-sm: 1.4;

    --container-primary: 1110px;
    --container-secondary: 540px;

    --gap: 20px;
    --gap-sm: calc(var(--gap) * 0.5);
    --gap-lg: calc(var(--gap) * 1.5);
    --gap-xl: calc(var(--gap) * 2);

}
/*reset styles*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/*base styles*/
html{
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 400;
    line-height: var(--line-height);
}
body{
    margin: 0;
}
h1{
    font-size: 3rem;
    font-weight: 500;
    line-height:var(--line-height-sm);
}
h2{
    font-size: 2rem;
    font-weight: 500;
    line-height: var(--line-height-sm);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a{
    text-decoration: none;
    color: var(--color-black);
}

/*common classes*/
.container {
    width: min(100% - var(--gap-xl), var(--container-primary));
    margin-inline: auto ;
}

.container-sm {
    width: min(100% - var(--gap-xl), var(--container-secondary));
    margin-inline: auto ;
}

/* header section*/
.header {
    background-color: var(--color-gray-light);
    padding-top: 79px;
    padding-bottom: 141px;
}
/* navbar section */
.navbar {
    margin-bottom: 162px;
}
.navbar__list {
    display: flex;
    flex-wrap: wrap;
    columns: var(--gap);
    margin-left: -0.75em;
}
.navbar__item {
}
.navbar__link{
    display: block;
    padding: 0.5em 0.75em;
    text-transform: uppercase;
}
.navbar__link--active{
    font-weight: 500;
    color: var(--color-primary);
}
/* hero section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: var(--container-secondary);
}
.hero__title {
    margin-bottom: 60px;
}
.hero__description {
    color: var(--color-secondary);
    margin-bottom: 65px;
}
.hero__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 225px;
    min-height: 65px;
    background-color: var(--color-primary);
    text-transform: uppercase;
    color: var(--color-white);
    padding: 0.5em;
}
/* Section - common for About and Process*/
section {
    padding-top: 100px;
    padding-bottom: 123px;
    text-align: center;
}
.section__title {
    color: var(--color-black);
    margin-bottom: 50px;
}
.section__description {
    color: var(--color-secondary);
}
/* about section */
.about {
    background-color: var(--color-white);
}
/*process section*/
.process {
    background-color: var(--color-gray-light);
}

/*footer section*/
.footer {
    background-color: var(--color-primary);
    color:var(--color-white);
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer__title{
    font-size: 1.3125rem;
    font-weight: 500;
    margin-bottom:10px;
}
.footer__description{
    font-size: 0.8125rem;
}
/*experience section*/
.experience {
    background-color: var(--color-primary);
    color:var(--color-white);
    padding-top: 100px;
    padding-bottom: 100px;
}

.experience__title {
}

.experience__container {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-xl)
}

.experience__item {
    display: flex;

}

.experience-item__description {
}

.experience-item__number {
    font-size: 1.3125rem;
    font-weight: 500;
    margin-top: -5px;
}

.experience-item__lable {
    margin-left: 20px;
}

.experience-item__image {
    order: -1;
}
.video__container{
    margin-top: 57px;
}
.section__video{
    width:var(--container-primary);
    height: 600px;
}


